<a href="https://colab.research.google.com/github/EdinaNeumann/python/blob/main/aula_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**aula1** ‚ú® üéÑ ‚ù§Ô∏è

In [ ]:
print("I competi√ß√£o de progra√ß√£o e start")
ano = "II"
print(f"{ano}competi√ß√£o de programa√ß√£o e start")

#**aula2** ü§ç üíö ‚ù§Ô∏è

In [6]:
livro_ficcao = 8
livro_n_ficcao = 10
livro_infantil = 6
pontos_rodrigo = livro_ficcao + livro_n_ficcao + livro_infantil
pontos_ana = 2 * livro_ficcao + 5 * livro_infantil
pontos_totais = pontos_rodrigo + pontos_ana
print(f"Os pontos totais do Rodrigo s√£o {pontos_rodrigo}")
print(f"Os pontos totais do Ana s√£o {pontos_ana}")
print(f"Os pontos totais de Rodrigo e da Ana s√£o {pontos_totais}")

Os pontos totais do Rodrigo s√£o 24
Os pontos totais do Ana s√£o 46
Os pontos totais de Rodrigo e da Ana s√£o 70

#**aula3** ü•Ä ‚ú® üåª

In [7]:
def tabuada(numero):
    for contador in range(1, 11):  # Gera n√∫meros de 1 a 10
        print(f"{numero} x {contador} = {numero * contador}")
numero = int(input("Digite um n√∫mero para ver sua tabuada: "))
tabuada(numero)

Digite um n√∫mero para ver sua tabuada: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90